* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, serif;
}
h1 {
    padding: 30px 40px;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
    text-align: center;
}
h4 {
    font-size: 16px;
    font-weight: 500;
}
p {
    padding: 10px 0 0;
    font-size: 14px;
}
.btn {
    padding: 16px 20px;
    width: 140px;
    margin: 20px 0  0 20px;
    border:transparent;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
    opacity: .7;
    transition: opacity .3s ease-in-out;
    background-color: rgb(189, 189, 189);
    border-radius: 5px
}

.btn:hover{
    opacity: 1;
}
.content {
    max-width: 920px;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    width: 33.3%;
    position: relative;
}

.item_content {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    margin: 20px;
}
.square {
    min-height: 150px;
    border-radius: 5px;
    opacity: .85;
    transition: opacity .3s ease-in-out;
}
.square1 {background-color: green;}
.square2 {background-color: rgb(6, 197, 6);}
.square3 {background-color: rgb(46, 104, 46);}
.square4 {background-color: rgb(24, 107, 216);}
.square5 {background-color: rgb(40, 52, 211);}
.square6 {background-color: rgb(30, 40, 133);}
.square7 {background-color: rgb(236, 52, 52);}
.square8 {background-color: rgb(218, 4, 4);}
.square9 {background-color: rgb(247, 104, 104);}
.square:hover {
    opacity:1;
}
.item h4 {
    position: absolute;
    top: 160px;
    left: 55px;
}

/* JS classes */
.btn-all.active {background-color: #5e5d5d;  opacity: 1; color: #fff;}
.btn-green.active {background-color: green; opacity: 1; color: #fff;}
.btn-blue.active {background-color: blue; opacity: 1; color: #fff;}
.btn-red.active {background-color: red; opacity: 1; color: #fff;}

.show {
    display: block;
}
.hide {
    display: none;
}